
  #dyn_div {
    position: absolute;
    z-index: 9;
    text-align: center;
    border: 0px
  }
  
  #dyn_divheader {
    padding: 5px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    border: 0px solid #d3d3d3;
    color: #fff;
  }

table {
  width: 100%; 
  border: 1 solid #d3d3d3;
}

td {
  height: 150px; 
  vertical-align: top;
  font-family: 'georgia';
  font-size: 22px;
}

label {

  font-family: 'Roboto', sans-serif;
  font-size: 1.375rem;
  font-weight: 500;
  letter-spacing: 0.075rem;
  font-style: normal;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #48cb5e;
  border-radius: 0.625rem;
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  padding: 0.3125rem 3rem;
  border-style: none;
  border-width: 0rem;
  }

#saveDialog {
  display: none;
}
#loadDialog {
  display: none;
}

  dialog {
    z-index: 11;
    border: none !important;
    border-radius: calc(5px * var(--ratio));
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 1.6rem;
    max-width: 400px;
  }

  .h1 {
    margin: 2rem 0 1rem;
    font-weight: 900;
  }
  
  .h2 {
    margin: 2rem 0 1rem;
    font-weight: 800;
  }

  p {
    color: var(--grey-color);
    letter-spacing: var(--leading, 0.025em);
    line-height: 1.625;
  }