
<table >
    <tbody>
        <tr style="height: 150px;">
            <td style="width: 600px; " rowspan="4"><img src="./img/fiel.jpg"></img></td>
            <td style="width: 600px;"><label>GARDIENS</label></td>
            <td  rowspan="4"><label>Non Selectionné</label></td>            
        </tr>
        <tr style="height: 150px;">
            <td><label>Defenseurs</label></td>
        </tr>
        <tr style="height: 150px;">
            <td><label>Milieux</label></td>
        </tr>
        <tr style="height: 150px;">
            <td ><label>Attaquants</label></td>
        </tr>
    </tbody>
</table>
