<!DOCTYPE html>
<html>
<link rel="stylesheet" href="main.css">
<link rel="stylesheet" href="menu.css">

<header>
    <nav class="links" style="--items: 5;">
        <a href="/NEW">New formation</a>
        <a href="#" onclick="saveTeam()">Save Team</a>
        <a href="#" onclick="loadTeam()">Load Team</a>
        <a href="#" onclick="addElement()">Add Player</a>
        <a href="/moveplayer">Contact</a>
        <span class="line"></span>
      </nav>

</header>