<!DOCTYPE html>
<html>
<link rel="stylesheet" href="main.css">
<link rel="stylesheet" href="menu.css">

<header>
    <nav class="links" style="--items: 5;">
        <a href="#" onclick="addElement()">Add Player</a>
        <a href="/READ">Read Player</a>
        <a href="#">Blog</a>
        <a href="#">Portefolio</a>
        <a href="#">Contact</a>
        <span class="line"></span>
      </nav>

</header>