<dialog id="loadDialog">
    <h1>Load a team</h1>
    <p>Select composition</p>
    <input list="compoList" id="compoListInput">
    <button onclick="loadComposition()" id="load_button">Load</button>
</dialog>

<datalist id="compoList">
    <file></file>
</datalist>
