    <dialog id="saveDialog">
        <h1>Save team</h1>
        <p>Give a name for your composition</p>
        <input type="text" id="teamName" name="name">
        <button onclick="saveWithName()" id="save_button">Save</button>
    </dialog>
